/.venv/
*.venv
/.idea/
.xml
/db/dbprep.py
/db/ManaBox_Collection.csv
.vercel
../../AppData/Roaming/JetBrains/PyCharmCE2024.1/scratches/.vercelignore
../../AppData/Roaming/JetBrains/PyCharmCE2024.1/scratches/vercel.json